<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/foodorder</property>
        <property name="dialect">org.hibernate.dialect.MySQL8Dialect</property>
        <property name="connection.username">root</property>
        <property name="connection.password">root</property>
        <property name="connection.pool_size">3</property>
        <property name="current_session_context_class">thread</property>
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>
        <property name="hbm2ddl.auto">create-drop</property>

        <!-- hibernate cache -->

        <property name="cache.use_query_cache">true</property>
        <property name="cache.use_second_level_cache">false</property>
        <property name="cache.region.factory_class">org.hibernate.cache.ehcache.EhCacheRegionFactory</property>
        <property name="connection.provider_class">org.hibernate.c3p0.internal.C3P0ConnectionProvider</property>

        <!-- mapping -->
        <mapping resource="bookingTable.hbm.xml"/>
        <mapping resource="cartItem.hbm.xml"/>
        <mapping resource="customer.hbm.xml"/>
        <mapping resource="coupon.hbm.xml"/>
        <mapping resource="deliveryAgent.hbm.xml"/>
        <mapping resource="restaurant.hbm.xml"/>
        <mapping resource="orderStatus.hbm.xml"/>
        <mapping resource="notification.hbm.xml"/>
        <mapping resource="order.hbm.xml"/>
        <mapping resource="menuItem.hbm.xml"/>
        <mapping resource="feedback.hbm.xml"/>
        <mapping resource="review.hbm.xml"/>
        <mapping resource="payment.hbm.xml"/>

    </session-factory>
</hibernate-configuration>